<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hourly Weatherdata Flask REST API</title>
</head>
<body>
    <h3>Welcome to my REST API, a repository of the cleaned source data that drives all of the historical hourly weather visualizations!</h3>
    <h4>The source data is hosted in the cloud via a Postgresql database on the AWS RD platform.</h4>
    <ul>
        <li><a href="https://restapi-flask-5156af3f4f23.herokuapp.com/api/ui/" target="_blank">Click here to explore the REST API documentation powered by Swagger</a></li>
        <li><a href="https://pro.dustincremascoli.com">Click here to go back to my Pro Site!</a></li>
    </ul>
</body>
</html>
